body{
  width: 80%;
  margin: auto;
  background: -webkit-linear-gradient(left,#66a3ff, #ffd11a);
}
#heading{
  text-align: center;
}
#heading2{
  text-align: left;
}
h2{
  border-bottom: solid;
}


#heading img  {
  max-height: 200px;
  max-width: 300px;
}
